#best-seller .level-pro-new{
  background-color: #ee4558;
}

#best-seller .sell-heading{
  width: 35%;
}

#best-seller .sell-slider {
  width: 65%;
}

.old-price{
  text-decoration: line-through;
  margin-right: 10px;
}

.new-price{
  color: #ee4558;
}

