<div *ngIf="bestSale != null && bestSales.length > 0" id="best-seller" class="sell-area home2">
  <div class="sell-heading">
    <div class="single-product">
      <div class="level-pro-new">
        <span>დღის ფასდაკლება</span>
      </div>
      <div class="product-img">
        <a routerLink="/product/{{bestSale.id}}">
          <ng-template ngFor let-image [ngForOf]="bestSale.productFiles" let-i= "index">
            <img src="{{image.fileUrl}}" alt="" ngClass="{{imgClass(i)}}" *ngIf="i<2">
          </ng-template>
        </a>
      </div>
      <div class="actions">
        <button type="submit" class="cart-btn" title="Add to cart">ყიდვა</button>
        <ul class="add-to-link">
          <li><a href="#"> <i class="fa fa-heart-o"></i></a></li>
          <li><a href="#"> <i class="fa fa-refresh"></i></a></li>
        </ul>
      </div>
      <div class="product-price">
        <div class="product-name">
          <a routerLink="/product/{{bestSale.id}}" title="{{bestSale.name}}">{{bestSale.name}}</a>
        </div>
        <div class="price-rating">
          <span class="old-price">{{bestSale.price}}&#8382;</span>
          <span class="new-price">{{getNewPrice(bestSale)}}&#8382;</span>
          <div class="ratings">
            <countdown-timer [end]="bestSale.countDown"></countdown-timer>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="sell-slider">
    <div class="single-product" *ngFor="let product of bestSales; let last = last;">
      <div class="level-pro-new">
        <span>დღის ფასდაკლება</span>
      </div>
      <div class="product-img">
        <a routerLink="/product/{{product.id}}">
          <ng-template ngFor let-image [ngForOf]="product.productFiles" let-i= "index">
            <img src="{{image.fileUrl}}" alt="" ngClass="{{imgClass(i)}}" *ngIf="i<2">
          </ng-template>
        </a>
      </div>
      <div class="actions">
        <button type="submit" class="cart-btn" title="Add to cart">ყიდვა</button>
      </div>
      <div class="product-price">
        <div class="product-name">
          <a routerLink="/product/{{product.id}}" title="{{product.name}}">{{product.name}}</a>
        </div>
        <div class="price-rating">
          <span class="old-price">{{product.price}}&#8382;</span>
          <span class="new-price">{{getNewPrice(product)}}&#8382;</span>
          <div class="ratings">
            <countdown-timer [end]="product.countDown"></countdown-timer>
          </div>
        </div>
      </div>
      {{last ? initCarousel() : ''}}
    </div>
  </div>
</div>
