<div class="product-banner">
  <img src="assets/img/product/banner.jpg" alt="">
</div>
<!-- product items banner end -->
<!-- product main items area start -->
<div class="product-main-items">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="location">
          <ul>
            <li><a href="index.html" title="go to homepage">Home<span>/</span></a>  </li>
            <li><strong> shop</strong></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="product-sidebar">
          <div class="sidebar-title">
            <h2>Shopping Options</h2>
          </div>
          <div class="single-sidebar">
            <div class="single-sidebar-title">
              <h3>კატეგორიები</h3>
            </div>
            <div class="single-sidebar-content">
              <ul>
                <li *ngFor="let category of sideBar.categories">
                  <a (click)="applyFilter({category: category.id})" [ngClass]="{'bg-success': filter.category.indexOf(category.id) > -1}">{{category.name}}</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="single-sidebar">
            <div class="single-sidebar-title">
              <h3>ფერები</h3>
            </div>
            <div class="single-sidebar-content">
              <ul>
                <li *ngFor="let color of sideBar.colors"><a (click)="applyFilter({color: color.id})">{{color.name}}</a></li>
              </ul>
            </div>
          </div>
          <div class="single-sidebar">
            <div class="single-sidebar-title">
              <h3>მწარმოებელი</h3>
            </div>
            <div class="single-sidebar-content">
              <ul>
                <li *ngFor="let manufacturer of sideBar.manufacturers"><a (click)="applyFilter({manufacturer: manufacturer.id})">{{manufacturer.name}}</a></li>
              </ul>
            </div>
          </div>
          <div class="single-sidebar price">
            <div class="single-sidebar-title">
              <h3>Price</h3>
            </div>
            <div class="single-sidebar-content">
              <div class="price-range">
                <div class="price-filter">
                  <div id="slider-range"></div>
                  <div class="price-slider-amount">
                    <input type="text" id="amount" name="price" (change)="priceSliderOnChange($event.target.value)" placeholder="Add Your Price" />
                  </div>
                </div>
                <button type="submit"> <span>search</span> </button>
              </div>
            </div>
          </div>
          <div class="banner-left">
            <a href="#">
              <img src="assets/img/product/banner_left.jpg" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="product-bar">
          <ul class="product-navigation" role="tablist">
            <li role="presentation" class="active gird">

              <a href="#gird" aria-controls="gird" role="tab" data-toggle="tab">
                                        <span>
                                            <img class="primary" src="assets/img/product/grid-primary.png" alt="">
                                            <img class="secondary" src="assets/img/product/grid-secondary.png" alt="">
                                        </span>
                Gird
              </a>
            </li>
            <li role="presentation" class="list">
              <a href="#list" aria-controls="list" role="tab" data-toggle="tab">
                                        <span>
                                            <img class="primary" src="assets/img/product/list-primary.png" alt="">
                                            <img class="secondary" src="assets/img/product/list-secondary.png" alt="">
                                        </span>
                List
              </a>
            </li>
          </ul>
          <div class="sort-by">
            <label>Sort By</label>
            <select name="sort" (change)="onSort($event.target.value)">
              <option value="name" selected >Name</option>
              <option value="price">Price</option>
            </select>
            <a href="#" title="Set Descending Direction">
              <img src="assets/img/product/i_asc_arrow.gif" alt="">
            </a>
          </div>
          <div class="limit-product">
            <label>Show</label>
            <select name="show">
              <option value="#" selected>9</option>
              <option value="#">12</option>
              <option value="#">24</option>
              <option value="#">36</option>
            </select>
            per page
          </div>
        </div>
        <div class="row">
          <div class="product-content">
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active fade in home2" id="gird">
                <div class="col-lg-4 col-sm-6" *ngFor="let product of products">
                  <div class="single-product">
                    <div class="level-pro-new">
                      <span>new</span>
                    </div>
                    <div class="product-img">
                      <a routerLink="/product/{{product.id}}">
                        <ng-template ngFor let-image [ngForOf]="product.productFiles" let-i= "index">
                          <img src="{{image.fileUrl}}" alt="" ngClass="{{imgClass(i)}}" *ngIf="i<2">
                        </ng-template>
                      </a>
                    </div>
                    <div class="actions">
                      <button type="button" (click)="addToCart(product)" class="cart-btn" title="Add to cart">add to cart</button>
                      <ul class="add-to-link">
                        <li><a class="modal-view" data-target="#productModal" data-toggle="modal" href="#"> <i class="fa fa-search"></i></a></li>
                        <li><a href="#"> <i class="fa fa-heart-o"></i></a></li>
                        <li><a href="#"> <i class="fa fa-refresh"></i></a></li>
                      </ul>
                    </div>
                    <div class="product-price">
                      <div class="product-name">
                        <a href="single-product.html" title="Fusce aliquam">{{product.name}}</a>
                      </div>
                      <div class="price-rating">
                        <span>{{product.price}}GEL</span>
                        <div class="ratings">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-half-o"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--<div role="tabpanel" class="tab-pane fade home2" id="list">-->
                <!--<div class="product-catagory">-->
                  <!--<div class="single-list-product" *ngFor="let product of products  ">-->
                    <!--<div class="col-sm-4">-->
                      <!--<div class="list-product-img">-->
                        <!--<a href="/product/{{product.id}}">-->
                          <!--<img src="{{product.productFiles[0].fileUrl}}" alt="">-->
                        <!--</a>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-sm-8">-->
                      <!--<div class="list-product-info">-->
                        <!--<a href="/product/{{product.id}}" class="list-product-name"> {{product.name}}</a>-->
                        <!--<div class="price-rating">-->
                          <!--<span class="old-price">{{product.price}}</span>-->
                          <!--<span>{{product.price}}</span>-->
                          <!--<div class="ratings">-->
                            <!--<i class="fa fa-star"></i>-->
                            <!--<i class="fa fa-star"></i>-->
                            <!--<i class="fa fa-star"></i>-->
                            <!--<i class="fa fa-star"></i>-->
                            <!--<i class="fa fa-star-half-o"></i>-->
                            <!--<a href="#" class="review">1 Review(s)</a>-->
                            <!--<a href="#" class="add-review">Add Your Review</a>-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--<div class="list-product-details">-->
                          <!--<p>{{product.description}}<a href="/product/{{product.id}}                                                                                       ">Learn More</a> </p>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            </div>
          </div>
          <div class="col-md-12">
            <div class="toolbar-bottom">
              <ul>
                <li><span>Pages:</span></li>
                <li class="current"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#"> <img src="assets/img/product/pager_arrow_right.gif" alt=""> </a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
