.product-bar .sort-by, .product-bar .limit-product {
  margin-left: 0;
}

a {
  cursor: pointer;
}


.amount{
  width: 50%;
  position: relative;
  display: inline-block;
  text-align: center;
}


.amount input {
  width: 70px;
  border: 1px #f3f3f3 solid;
  text-align: center;
}


.product-banner{
  max-height: 322px;
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.product-banner img {
  max-height: 322px;
}
