.product-bar .sort-by, .product-bar .limit-product {
  margin-left: 0;
}

a {
  cursor: pointer;
}


.amount{
  width: 50%;
  position: relative;
  display: inline-block;
  text-align: center;
}


.amount input {
  width: 70px;
  border: 1px #f3f3f3 solid;
  text-align: center;
}
