<!-- cart item area start -->
<div class="shopping-cart">
  <div class="container">
  <br/>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table-bordered table table-hover">
            <thead>
            <tr>
              <th class="cart-item-img"></th>
              <th class="cart-product-name">პროდუქტის დასახელება</th>
              <th class="edit"></th>
              <th class="move-wishlist"></th>
              <th class="unit-price">ერთეულის ფასი</th>
              <th class="quantity">რაოდენობა</th>
              <th class="subtotal">ჯამში</th>
              <th class="remove-icon"></th>
            </tr>
            </thead>
            <tbody *ngIf="cartItems != null" class="text-center">
            <tr *ngFor="let item of cartItems">
              <td class="cart-item-img">
                <a routerLink="/product/{{item.product.id}}">
                  <img src="{{item.product.productFiles[0].fileUrl}}" alt="{{item.product.name}}">
                </a>
              </td>
              <td class="cart-product-name">
                <a routerLink="/product/{{item.product.id}}">{{item.product.name}}</a>
              </td>
              <td class="edit">
                <a (click)="saveForLater(item)">მოგვიანებით ვიყიდი</a>
              </td>
              <td class="move-wishlist">
                <a (click)="moveToWishlist(item)">სასურველი ნივთია</a>
              </td>
              <td class="unit-price">
                <span>{{itemUnitPrice(item)}}</span>
              </td>
              <td class="quantity">
                <span>{{item.quantity}}</span>
              </td>
              <td class="subtotal">
                <span>{{itemSubotal(item)}}</span>
              </td>
              <td class="remove-icon">
                <a (click)="removeFromCart(item)">
                  <img src="assets/img/cart/btn_remove.png" alt="">
                </a>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="shopping-button">
            <div class="continue-shopping">
              <button type="button" routerLink="/shop">განაგრძე შოპინგი</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-offset-8">
        <div class="totals">
          <p>სულ <span>{{subtotal}}</span> </p>
          <h3>ჯამში <span>{{subtotal}}</span></h3>
          <div class="shopping-button">
            <button type="button" routerLink="/checkout">შეკვეთის განხორციელება</button>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- cart item area end -->
