<!-- single product details start -->
<app-details *ngIf="product.id > 0 && colorVariants.length > 0" [product]="product" [colorVariants]="colorVariants"></app-details>
<!-- single product details end -->

<!-- related product area start-->
<div class="related-product home2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-title">
          <h2>მსგავსი პროდუქცია</h2>
        </div>
      </div>
    </div>
    <div *ngIf="product.id > 0" class="row">
      <app-related-products [parentId]="product.id"></app-related-products>
    </div>
  </div>
</div>
