<!-- single product details start -->
<div class="single-product-details">
  <div class="container">
    <br/>
    <div class="row">
      <div class="col-sm-6">
        <div class="single-product-img tab-content">
          <ng-template ngFor let-image [ngForOf]="product.productFiles" let-i= "index">
          <div class="single-pro-main-image tab-pane" [ngClass]="{ active: i == 0 }" id="pro-large-img-{{i}}">
            <a href="#"><img class="optima_zoom" src="{{image.fileUrl}}" alt="optima"/></a>
          </div>
          </ng-template>
        </div>
        <div class="product-page-slider">
          <div class="single-product-slider" *ngFor="let image of product.productFiles; let i = index; let last = last">
            <a href="#pro-large-img-{{i}}" data-toggle="tab">
              <img src="{{image.fileUrl}}" alt="">
            </a>
            {{ last === true ? ready(true) : '' }}
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="single-product-details">
          <a href="#" class="product-name">{{product.name}}</a>
          <div class="avalable">
            <p>ხელმისაწვდომია:<span> არის მარაგში</span></p>
          </div>
          <div class="item-price">
            <span>{{product.price}}&#8382;</span>
          </div>
          <div class="single-product-info">
            <p>{{product.description}}</p>
            <div class="share">
              <img src="assets/img/product/share.png" alt="">
            </div>
          </div>
          <div class="action">
            <ul class="add-to-links">
              <li>
                <a >
                  <i class="fa fa-heart" (click)="addToWishlist(product)" ></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="select-catagory">
            <div class="color-select">
              <label class="required">
                <em>*</em> ფერი (მოდელი)
              </label>
              <div class="input-box">
                <select id="select-1" [(ngModel)]="selectedVariant" (change)="onColorChange()">
                  <option *ngFor="let variant of colorVariants" [ngValue]="variant" [selected]="compareFn">{{variant.color.name}}</option>
                </select>

              </div>
            </div>
            <div class="size-select">
              <label class="required">
                <em>*</em> ზომა
              </label>
              <div class="input-box">
                <select id="select-2">
                  <option *ngFor="let size of colorVariants" [ngValue]="size" [selected]="compareFn">{{size.size}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="cart-item">
            <div class="price-box">
              <span>{{product.price}}&#8382;</span>
            </div>
            <div class="single-cart">
              <div class="cart-plus-minus">
                <label>რაოდენობა: </label>
                <input class="cart-plus-minus-box" type="number" [(ngModel)]="chosenQuantity" (change)="updateQuantity($event.target.value)" name="qtybutton" min="1">
              </div>
              <button class="cart-btn" (click)="addToCart(product)" >კალათაში დამატება</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- single product details end -->
<!-- single product tab start -->
<div class="single-product-tab-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="single-product-tab">
          <ul class="single-product-tab-navigation" role="tablist">
            <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">პროდუქტის აღწერა</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content single-product-page">
            <div role="tabpanel" class="tab-pane fade in active" id="tab1">
              <div class="single-p-tab-content">
                <p>{{product.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- single product tab end -->
<!-- upsell product area start-->
<div class="upsell-product home2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-title">
          <h2>სპეციალური შეთავაზება</h2>
        </div>
      </div>
    </div>
    <div *ngIf="product.bundle != null" class="row">
      <h3>შეიძნე ერთად კრებული {{product.bundle.sale}} პროცენტიანი ფადაკლებით! {{product.bundle.price}} ლარად</h3>

      <div class="single-product">
        <div class="product-img">
          <a routerLink="/product/{{product.id}}">
            <ng-template ngFor let-image [ngForOf]="product.productFiles" let-i= "index">
              <img src="{{image.fileUrl}}" alt="" ngClass="{{imgClass(i)}}" *ngIf="i<2">
            </ng-template>
          </a>
        </div>
        <div class="actions">
          <button type="button" (click)="addToCart(product)" class="cart-btn" title="Add to cart">კალათაში დამატება</button>
        </div>
        <div class="product-price">
          <div class="product-name">
            <a href="single-product.html" title="Fusce aliquam">{{product.name}}</a>
          </div>
          <div class="price-rating">
            <span>{{product.price}}&#8382;</span>
          </div>
        </div>
      </div>

      <div *ngFor="let b of product.bundle.products" class="single-product">
        <div class="product-img">
          <a routerLink="/product/{{b.id}}">
            <ng-template ngFor let-image [ngForOf]="b.productFiles" let-i= "index">
              <img src="{{image.fileUrl}}" alt="" ngClass="{{imgClass(i)}}" *ngIf="i<2">
            </ng-template>
          </a>
        </div>
        <div class="actions">
          <button type="button" (click)="addToCart(b)" class="cart-btn" title="Add to cart">კალათაში დამატება</button>
        </div>
        <div class="product-price">
          <div class="product-name">
            <a href="single-product.html" title="Fusce aliquam">{{b.name}}</a>
          </div>
          <div class="price-rating">
            <span>{{b.price}}&#8382;</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- upsell product area end-->
<!-- related product area start-->
<div class="related-product home2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-title">
          <h2>მსგავსი პროდუქცია</h2>
        </div>
      </div>
    </div>
    <div *ngIf="product.id > 0" class="row">
      <app-related-products [parentId]="product.id"></app-related-products>
    </div>
  </div>
</div>
