<!-- header area start -->
<header>
  <div class="top-link">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-md-offset-3 col-sm-9 hidden-xs">
          <div class="call-support">
            <p>Call support free: <span> (800) 123 456 789</span></p>
          </div>
        </div>
        <div class="col-md-2 col-sm-3">
          <div class="dashboard">
            <div class="account-menu">
              <ul>
                <li class="search">
                  <a href="#">
                    <i class="fa fa-search"></i>
                  </a>
                  <ul class="search">
                    <li>
                      <form>
                        <input type="text" />
                        <button type="submit"> <i class="fa fa-search"></i> </button>
                      </form>
                    </li>
                  </ul>
                </li>
                <li *ngIf="!isLoggedIn">
                  <a routerLink="/login">
                    <i class="fa fa-user"></i>
                  </a>
                </li>
                <li *ngIf="isLoggedIn">
                  <a href="#">
                    <i class="fa fa-bars"></i>
                  </a>
                  <app-user-menu></app-user-menu>
                </li>
              </ul>
            </div>
            <div *ngIf="isLoggedIn" class="cart-menu">
              <app-quick-checkout></app-quick-checkout>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mainmenu-area home2 bg-color-tr product-items">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="logo">
            <a routerLink="/home">
              <img src="assets/img/logo.png" alt="">
            </a>
          </div>
        </div>
        <div class="col-md-9">
          <div class="mainmenu">
            <nav>
              <ul>
                <li class="mega-women" *ngFor="let category of headerMenu">
                  <a [routerLink]="['/shop']" [queryParams]="{category: category.id}">{{category.name}}</a>
                  <div *ngIf="category.children.length" class="mega-menu women">
                    <div class="part-1">
                      <span *ngFor="let child of category.children">
                          <a [routerLink]="['/shop']" [queryParams]="{category: [category.id, child.id]}">{{child.name}}</a>
                          <a *ngFor="let subCat of child.children" [routerLink]="['/shop']" [queryParams]="{category: [category.id, child.id, subCat.id]}">{{subCat.name}}</a>
                      </span>

                    </div>
                    <div class="part-2">
                      <a href="#">
                        <img src="assets/img/banner/menu-banner.png" alt="">
                      </a>
                    </div>
                  </div>
                </li>
                <li><a href="#">შექმენი შენი მაისური</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="mobile-menu">
            <nav>
              <ul>
                <li *ngFor="let category of headerMenu">
                  <a [routerLink]="['/shop']" [queryParams]="{category: category.id}">{{category.name}}</a>
                  <ul *ngIf="category.children.length">
                    <li *ngFor="let child of category.children">
                      <a [routerLink]="['/shop']" [queryParams]="{category: [category.id, child.id]}">Dresses</a>
                      <ul>
                        <li *ngFor="let subCat of child.children">
                          <a [routerLink]="['/shop']" [queryParams]="{category: [category.id, child.id, subCat.id]}">Coctail</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header area end -->
