<!-- header area start -->
<header>
  <div class="top-link">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-md-offset-3 col-sm-9 hidden-xs">
          <div class="call-support">
            <p>Call support free: <span> (800) 123 456 789</span></p>
          </div>
        </div>
        <div class="col-md-2 col-sm-3">
          <div class="dashboard">
            <div class="account-menu">
              <ul>
                <li class="search">
                  <a href="#">
                    <i class="fa fa-search"></i>
                  </a>
                  <ul class="search">
                    <li>
                      <form>
                        <input type="text" />
                        <button type="submit"> <i class="fa fa-search"></i> </button>
                      </form>
                    </li>
                  </ul>
                </li>
                <li *ngIf="!isLoggedIn">
                  <a routerLink="/login">
                    <i class="fa fa-user"></i>
                  </a>
                </li>
                <li *ngIf="isLoggedIn">
                  <a href="#">
                    <i class="fa fa-bars"></i>
                  </a>
                  <app-user-menu></app-user-menu>
                </li>
              </ul>
            </div>
            <div *ngIf="isLoggedIn" class="cart-menu">
              <app-quick-checkout></app-quick-checkout>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mainmenu-area home2 bg-color-tr product-items">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="logo">
            <a routerLink="/home">
              <img src="assets/img/logo.png" alt="">
            </a>
          </div>
        </div>
        <div class="col-md-9">
          <div class="mainmenu">
            <nav>
              <ul>
                <li class="mega-women" *ngFor="let category of headerMenu">
                  <a [routerLink]="['/shop']" [queryParams]="{category: category.id}">{{category.name}}</a>
                  <div *ngIf="category.children.length" class="mega-menu women">
                    <div class="part-1">
                      <span *ngFor="let child of category.children">
                          <a [routerLink]="['/shop']" [queryParams]="{category: [category.id, child.id]}">{{child.name}}</a>
                          <a *ngFor="let subCat of child.children" [routerLink]="['/shop']" [queryParams]="{category: [category.id, child.id, subCat.id]}">{{subCat.name}}</a>
                      </span>

                    </div>
                    <div class="part-2">
                      <a href="#">
                        <img src="assets/img/banner/menu-banner.png" alt="">
                      </a>
                    </div>
                  </div>
                </li>
                <li><a href="#">შექმენი შენი მაისური</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="mobile-menu">
            <nav>
              <ul>
                <!--<li><a routerLink="/home">Home</a>-->
                  <!--<ul>-->
                    <!--<li><a routerLink="/home">Home 1</a></li>-->
                    <!--<li><a href="index-2.html">Home 2</a></li>-->
                  <!--</ul>-->
                <!--</li>-->
                <li><a href="shop.html">ქალი</a>
                  <ul>
                    <li><a href="#">Dresses</a>
                      <ul>
                        <li><a href="#">Coctail</a></li>
                        <li><a href="#">day</a></li>
                        <li><a href="#">evening</a></li>
                        <li><a href="#">sports</a></li>
                      </ul>
                    </li>
                    <li><a href="#">shoes</a>
                      <ul>
                        <li><a href="#">Sports</a></li>
                        <li><a href="#">run</a></li>
                        <li><a href="#">sandals</a></li>
                        <li><a href="#">boots</a></li>
                      </ul>
                    </li>
                    <li><a href="#">handbags</a>
                      <ul>
                        <li><a href="#">Blazers</a></li>
                        <li><a href="#">table</a></li>
                        <li><a href="#">coats</a></li>
                        <li><a href="#">kids</a></li>
                      </ul>
                    </li>
                    <li><a href="#">clothing</a>
                      <ul>
                        <li><a href="#">T-shirts</a></li>
                        <li><a href="#">coats</a></li>
                        <li><a href="#">Jackets</a></li>
                        <li><a href="#">jeans</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="shop.html">კაცი</a>
                  <ul>
                    <li><a href="#">Bags</a>
                      <ul>
                        <li><a href="#">Bootees bag</a></li>
                        <li><a href="#">Blazers</a></li>
                      </ul>
                    </li>
                    <li><a href="#">clothing</a>
                      <ul>
                        <li><a href="#">coats</a></li>
                        <li><a href="#">T-shirts</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Lingerie</a>
                      <ul>
                        <li><a href="#">Bands</a></li>
                        <li><a href="#">Furniture</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="shop.html">ბავშვები</a>
                  <ul>
                    <li><a href="#">footwear men</a>
                      <ul>
                        <li><a href="#">gifts</a></li>
                      </ul>
                    </li>
                    <li><a href="#">footwear women</a>
                      <ul>
                        <li><a href="#">boots</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="shop.html">ფეხსაცმელი</a>
                  <ul>
                    <li><a href="#">Rings</a></li>
                  </ul>
                </li>
                <li><a href="shop.html">აქსესუარები</a></li>
                <li><a href="shop.html">შექმენი შენი მაისური</a></li>
                <li><a href="#">Pages</a>
                  <ul>
                    <li><a href="about-us.html">About us</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="blog-details.html">Blog Details</a></li>
                    <li><a href="cart.html">Cart</a></li>
                    <li><a href="checkout.html">Checkout</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="my-account.html">My account</a></li>
                    <li><a href="shop.html">Shop</a></li>
                    <li><a href="shop-list.html">Shop list</a></li>
                    <li><a href="single-product.html">Single Shop</a></li>
                    <li><a href="wishlist.html">Wishlist</a></li>
                    <li><a href="login.html">login page</a></li>
                    <li><a routerLink="/signup">register page</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header area end -->
