<div class="single-product" *ngFor="let product of products[0]">
  <div class="level-pro-new">
    <span>new</span>
  </div>
  <div class="product-img">
    <a routerLink="/product/{{product.id}}">
    <ng-template ngFor let-image [ngForOf]="product.productFiles" let-i= "index">
      <img src="{{image.fileUrl}}" alt="" ngClass="{{imgClass(i)}}" *ngIf="i<2">
    </ng-template>
    </a>
  </div>
  <div class="actions">
    <button type="submit" class="cart-btn" title="Add to cart">add to cart</button>
    <ul class="add-to-link">
      <li><a class="modal-view" data-target="#productModal" data-toggle="modal" href="#"> <i class="fa fa-search"></i></a></li>
      <li><a href="#"> <i class="fa fa-heart-o"></i></a></li>
      <li><a href="#"> <i class="fa fa-refresh"></i></a></li>
    </ul>
  </div>
  <div class="product-price">
    <div class="product-name">
      <a routerLink="/product/{{product.id}}" title="Fusce aliquam">{{product.name}}</a>
    </div>
    <div class="price-rating">
      <span>{{product.price}}GEL</span>
      <div class="ratings">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
      </div>
    </div>
  </div>
</div>
