<div class="account-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="location">
          <ul>
            <li><a href="index.html" title="go to homepage">Home<span>/</span></a>  </li>
            <li><strong> my account</strong></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <!--<div class="product-sidebar">-->
          <!--<div class="sidebar-title">-->
            <!--<h2>Shopping Options</h2>-->
          <!--</div>-->
          <!--<div class="single-sidebar">-->
            <!--<div class="single-sidebar-title">-->
              <!--<h3>Category</h3>-->
            <!--</div>-->
            <!--<div class="single-sidebar-content">-->
              <!--<ul>-->
                <!--<li><a href="#">Dresses (4)</a></li>-->
                <!--<li><a href="#">shoes (6)</a></li>-->
                <!--<li><a href="#">Handbags (1)</a></li>-->
                <!--<li><a href="#">Clothing (3)</a></li>-->
              <!--</ul>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="single-sidebar">-->
            <!--<div class="single-sidebar-title">-->
              <!--<h3>Color</h3>-->
            <!--</div>-->
            <!--<div class="single-sidebar-content">-->
              <!--<ul>-->
                <!--<li><a href="#">Black (2)</a></li>-->
                <!--<li><a href="#">Blue (2)</a></li>-->
                <!--<li><a href="#">Green (4)</a></li>-->
                <!--<li><a href="#">Grey (2)</a></li>-->
                <!--<li><a href="#">Red (2)</a></li>-->
                <!--<li><a href="#">White (2)</a></li>-->
              <!--</ul>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      </div>
      <div class="col-sm-9">
        <div class="my-account-accordion">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class="fa fa-list-ol"></i>
                    შეკვეთების ისტორია და დეტალები
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="account-title">
                        <h4>განხორციელებული შეკვეთები</h4>
                      </div>
                      <div class="order-history">
                        <p>ჯერ არ გაქვთ შეკვეთა</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--<div class="panel panel-default">-->
              <!--<div class="panel-heading" role="tab" id="headingTwo">-->
                <!--<h4 class="panel-title">-->
                  <!--<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">-->
                    <!--<i class="fa fa-file-o"></i>-->
                    <!--უკან დაბრუნებული საქონელი-->
                  <!--</a>-->
                <!--</h4>-->
              <!--</div>-->
              <!--<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">-->
                <!--<div class="panel-body">-->
                  <!--<div class="row">-->
                    <!--<div class="col-sm-12">-->
                      <!--<div class="account-title">-->
                        <!--<h4>უკან დაბრუნებული საქონლის დადასტურება </h4>-->
                      <!--</div>-->
                      <!--<div class="credit-slids">-->
                        <!--<p>You have not received any credit slips.</p>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <i class="fa fa-building-o"></i>
                    ჩემი მისამართები
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="my-address">
                        <p>მიუთითეთ თქვენი მისამართი</p>
                        <div class="account-title">
                          <h4>მისამართები</h4>
                        </div>
                        <p>განაახლეთ პერსონალური ინფორმაცია თუ იგი შეიცვალა ბოლო დროს</p>
                        <div class="row">
                          <div class="col-md-6 col-sm-12">
                            <div class="account-address">
                              <ul>
                                <li class="address-menu-title">ჩემი მისამართი</li>
                                <li>Hridoy roy</li>
                                <li>Expert</li>
                                <li>Bristol</li>
                                <li>Manchester1</li>
                                <li>Bristol</li>
                                <li>United Kingdom</li>
                                <li>2334234</li>
                                <li>454565768678</li>
                                <li>
                                  <button> update </button>
                                  <button> submit </button>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="add-address">
                          <button>add new address</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <i class="fa fa-user"></i>
                    პირადი ინფორმაცია
                  </a>
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                  <div class="col-md-12">
                    <div class="delivery-details">
                      <form action="#">
                        <div class="list-style">
                          <div class="account-title">
                            <h4>გთხოვთ განაახლოთ პირადი ინფორმაცია თუ იგი შეიცვალა </h4>
                          </div>
                          <div class="form-name">
                            <label>სახელი <em>*</em> </label>
                            <input type="text" placeholder="...">
                          </div>
                          <div class="form-name">
                            <label>გვარი <em>*</em> </label>
                            <input type="text" placeholder="...">
                          </div>
                          <div class="form-name">
                            <label>კომპანია </label>
                            <input type="text" placeholder="...">
                          </div>
                          <div class="form-name">
                            <label>მისამართი <em>*</em> </label>
                            <input type="text" placeholder="...">
                          </div>
                          <div class="form-name">
                            <label>მისამართი <em>*</em> </label>
                            <input type="text" placeholder="...">
                          </div>
                          <div class="form-name">
                            <label>ქალაქი <em>*</em> </label>
                            <input type="text" placeholder="...">
                          </div>
                          <div class="form-name">
                            <label>საფოსტო ინდექსი <em>*</em> </label>
                            <input type="text" placeholder="...">
                          </div>
                          <div class="form-name">
                            <label> ქვეყანა <em>*</em> </label>
                            <select>
                              <option value="1">---Please select---</option>
                              <option value="1">Afghanistan</option>
                              <option value="1">Algeria</option>
                              <option value="1">American Samoa</option>
                              <option value="1">Australia</option>
                              <option value="1">Bangladesh</option>
                              <option value="1">Belgium</option>
                              <option value="1">Bosnia and Herzegovina</option>
                              <option value="1">Chile</option>
                              <option value="1">China</option>
                              <option value="1">Egypt</option>
                              <option value="1">Finland</option>
                              <option value="1">France</option>
                              <option value="1">United State</option>
                            </select>
                          </div>
                          <div class="form-name">
                            <label> ქალაქი </label>
                            <select>
                              <option value="1">---Please select---</option>
                              <option value="1">Arizona</option>
                              <option value="1">Armed Forces Africa</option>
                              <option value="1">California</option>
                              <option value="1">Florida</option>
                              <option value="1">Indiana</option>
                              <option value="1">Marshall Islands</option>
                              <option value="1">Minnesota</option>
                              <option value="1">New Mexico</option>
                              <option value="1">Utah</option>
                              <option value="1">Virgin Islands</option>
                              <option value="1">West Virginia</option>
                              <option value="1">Wyoming</option>
                            </select>
                          </div>
                          <div class="save-button">
                            <button>save</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFive">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    <i class="fa fa-heart"></i>
                    სასურველი პროდუქცია
                  </a>
                </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body">
                  <div class="col-sm-12">
                    <div class="wishlist-container">
                      <h3>ახალი ნაკრები</h3>
                      <form action="#">
                        <label>სახელი</label>
                        <input type="text">
                        <div class="save-button">
                          <button type="submit">save</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="account-button">
            <div class="back-btn"> <a href="#">ჩემს პროფილზე დაბრუნება</a> </div>
            <div class="home"> <a href="index.html"> მთავარი</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
