<div class="checkout-area">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="checkout-banner hidden-xs">
          <a href="#">
            <!--<img src="img/checkout/checkout_banner.jpg" alt="">-->
          </a>
        </div>
        <div class="checkout-heading">
          <h2>გადახდა</h2>
        </div>
        <div class="checkout-accordion">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div *ngIf="isLoggedIn" class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    ანგარიშისა და გადახდების დეტალები
                    <i class="fa fa-caret-down"></i>
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  <div class="row">
                    <form [formGroup]="step1Form">
                    <div class="col-sm-6">
                      <div class="account-details">
                        <h4>პერსონალური ინფორმაცია</h4>
                        <div class="form-box">
                          <div class="form-name">
                            <label>სახელი <em>*</em> </label>
                            <input type="text" placeholder="სახელი" name="firstName" formControlName="firstName">
                          </div>
                        </div>
                        <div class="form-box">
                          <div class="form-name">
                            <label>გვარი <em>*</em> </label>
                            <input type="text" placeholder="გვარი" name="lastName" formControlName="lastName">
                          </div>
                        </div>
                        <div class="form-box">
                          <div class="form-name">
                            <label>ემაილი <em>*</em> </label>
                            <input type="email" placeholder="..." name="email" formControlName="email">
                          </div>
                        </div>
                        <div class="form-box">
                          <div class="form-name">
                            <label>ტელეფონი <em>*</em> </label>
                            <input type="text" placeholder="..." name="phone" formControlName="phone">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="checkout-collapse">
                        <h4>მისამართი</h4>
                        <div class="form-box">
                          <div class="form-name">
                            <label>კომპანია </label>
                            <input type="text" placeholder="კომპანიის დასახელება" name="company" formControlName="company">
                          </div>
                        </div>
                        <div class="form-box">
                          <div class="form-name">
                            <label>მისამართი 1 <em>*</em> </label>
                            <input type="text" placeholder="მისამართი" name="address1" formControlName="address1">
                          </div>
                        </div>
                        <div class="form-box">
                          <div class="form-name">
                            <label>მისამართი 2 <em>*</em> </label>
                            <input type="text" placeholder="მისამართი" name="address2" formControlName="address2">
                          </div>
                        </div>
                        <div class="form-box">
                          <div class="form-name">
                            <label>ქალაქი <em>*</em> </label>
                            <input type="text" placeholder="ქალაქი" name="city" formControlName="city">
                          </div>
                        </div>
                        <div class="form-box">
                          <div class="form-name">
                            <label>საფოსტო ინდექსი <em>*</em> </label>
                            <input type="text" placeholder="საფოსტო ინდექსი" name="postCode" formControlName="postCode">
                          </div>
                        </div>
                        <div class="form-box">
                          <div class="form-name">
                            <label>ქვეყანა <em>*</em> </label>
                            <input type="text" placeholder="ქვეყანა" name="country" formControlName="country">
                          </div>
                        </div>
                        <div class="form-box">
                          <div class="form-name">
                            <label> რაიონი </label>
                            <input type="text" placeholder="რაიონი" name="state" formControlName="state">
                          </div>
                        </div>
                        <div class="privacy-policy">
                          <button type="submit" class="check-button">განახლება</button>
                        </div>
                      </div>
                    </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="isLoggedIn && steps.step1" class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    მიწოდების დეტალები
                    <i class="fa fa-caret-down"></i>
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="delivery-details">
                        <form [formGroup]="step2Form" (submit)="onForm2Submit()">
                          <div class="list-style">
                            <div class="form-name">
                              <label>სახელი <em>*</em> </label>
                              <input type="text" placeholder="სახელი" name="firstName" formControlName="firstName">
                            </div>
                            <div class="form-name">
                              <label>გვარი <em>*</em> </label>
                              <input type="text" placeholder="გვარი" name="lastName" formControlName="lastName">
                            </div>
                            <div class="form-name">
                              <label>კომპანია </label>
                              <input type="text" placeholder="კომპანია" name="company" formControlName="company">
                            </div>
                            <div class="form-name">
                              <label>მისამართი 1 <em>*</em> </label>
                              <input type="text" placeholder="მისამართი" name="address1" formControlName="address1">
                            </div>
                            <div class="form-name">
                              <label>მისამართი 2 <em>*</em> </label>
                              <input type="text" placeholder="მისამართი" name="address2" formControlName="address2">
                            </div>
                            <div class="form-name">
                              <label >ქალაქი<em>*</em> </label>
                              <input type="text" placeholder="ქალაქი" name="city" formControlName="city">
                            </div>
                            <div class="form-name">
                              <label>საფოსტო ინდექსი <em>*</em> </label>
                              <input type="text" placeholder="საფოსტო ინდექსი"  name="postCode" formControlName="postCode">
                            </div>
                            <div class="form-name">
                              <label>ტელეფონი <em>*</em> </label>
                              <input type="text" placeholder="..."  name="phone" formControlName="phone">
                            </div>
                            <div class="form-name">
                              <label> ქვეყანა <em>*</em> </label>
                              <input type="text" placeholder="ქვეყანა" name="country" formControlName="country">
                            </div>
                            <div class="form-name">
                              <label> რაიონი </label>
                              <input type="text" placeholder="რაიონი" name="state" formControlName="state">
                            </div>
                            <br>
                            <div class="privacy-policy">
                              <button type="submit" class="check-button">განახლება</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="isLoggedIn && steps.step2" class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFive">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                    გადახდის მეთოდი
                    <i class="fa fa-caret-down"></i>
                  </a>
                </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body">
                  <div class="patment-method">
                    <p>აირჩიეთ სასურველი გადახდის მეთოდი</p>
                    <div class="radio">
                      <input type="radio" checked="" value="shipping-method">Cash On Delivery
                    </div>
                    <p> <strong> დამატებიტი ინფორმაცია შეკვეტის შესახებ </strong></p>
                    <p> <textarea name="comment" rows="8"></textarea> </p>
                    <div class="privacy-policy">
                      <button type="submit" class="check-button">გაგრძელება</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="isLoggedIn && steps.step2" class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingSix">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                    შეკვეთის დადასტურება
                    <i class="fa fa-caret-down"></i>
                  </a>
                </h4>
              </div>
              <div id="collapseSix" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSix">
                <div class="panel-body">
                  <div class="confirm-order">
                    <div class="table-responsive">
                      <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                          <th>პროდუქტის სახელი</th>
                          <th>მოდელი</th>
                          <th>რაოდენობა</th>
                          <th>ერთეულის ფასი</th>
                          <th>ჯამი</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of cartItems;">
                          <td>
                            <a routerLink="/product/{{item.product.id}}">{{item.product.name}}</a>
                          </td>
                          <td>{{item.product.name}}</td>
                          <td>{{item.quantity}}</td>
                          <td>{{itemUnitPrice(item)}}</td>
                          <td>{{itemSubotal(item)}}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                          <td class="text-right" colspan="4">
                            <strong>Sub-Total:</strong>
                          </td>
                          <td>{{subtotal}}</td>
                        </tr>
                        <!--<tr>-->
                          <!--<td class="text-right" colspan="4">-->
                            <!--<strong>Flat Shipping Rate:</strong>-->
                          <!--</td>-->
                          <!--<td>$5.00</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                          <!--<td class="text-right" colspan="4">-->
                            <!--<strong>Flat Shipping Rate:</strong>-->
                          <!--</td>-->
                          <!--<td>$5.00</td>-->
                        <!--</tr>-->
                        </tfoot>
                      </table>
                    </div>
                    <button type="button" (click)="placeOrder()" value="Continue" class="check-button">შეკვეტის დადასტურება</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
