<div class="related-slider">
  <div class="col-md-12" *ngFor="let product of relatedProducts; let last = last;">
    <div class="single-product">
      <div class="product-img">
        <a routerLink="/product/{{product.id}}">
          <ng-template ngFor let-image [ngForOf]="product.productFiles" let-i= "index">
            <img src="{{image.fileUrl}}" alt="" ngClass="{{imgClass(i)}}" *ngIf="i<2">
          </ng-template>
        </a>
      </div>
      <div class="product-price">
        <div class="product-name">
          <a routerLink="/product/{{product.id}}" title="{{product.name}}">{{product.name}}</a>
        </div>
        <div class="price-rating">
          <span>{{product.price}}&#8382;</span>
        </div>
      </div>
    </div>
    {{last ? initCarousel() : ''}}
  </div>
</div>
