<div class="account-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="location">
          <ul>
            <li><a href="index.html" title="go to homepage">Home<span>/</span></a>  </li>
            <li><strong> my account</strong></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="my-account-accordion">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class="fa fa-list-ol"></i>
                    შეკვეთების ისტორია და დეტალები
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="account-title">
                        <h4>განხორციელებული შეკვეთები</h4>
                      </div>
                      <div class="order-history">
                        <p>ჯერ არ გაქვთ შეკვეთა</p>
                        <app-order-history></app-order-history>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                    <i class="fa fa-user"></i>
                    პირადი ინფორმაცია
                  </a>
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                  <div class="col-md-12">
                    <div class="delivery-details">
                      <form [formGroup]="piForm" (submit)="onPiSubmit()">
                        <div class="list-style">
                          <div class="account-title">
                            <h4>გთხოვთ განაახლოთ პირადი ინფორმაცია თუ იგი შეიცვალა </h4>
                          </div>
                          <div class="form-name">
                            <label>სახელი <em>*</em> </label>
                            <input type="text" placeholder="..." formControlName="firstName">
                          </div>
                          <div class="form-name">
                            <label>გვარი <em>*</em> </label>
                            <input type="text" placeholder="..." formControlName="lastName">
                          </div>
                          <div class="form-name">
                            <label>კომპანია </label>
                            <input type="text" placeholder="..." formControlName="company">
                          </div>
                          <div class="form-name">
                            <label>მისამართი <em>*</em> </label>
                            <input type="text" placeholder="..." formControlName="address1">
                          </div>
                          <div class="form-name">
                            <label>მისამართი <em>*</em> </label>
                            <input type="text" placeholder="..." formControlName="address2">
                          </div>
                          <div class="form-name">
                            <label>ქალაქი <em>*</em> </label>
                            <input type="text" placeholder="..." formControlName="city">
                          </div>
                          <div class="form-name">
                            <label>საფოსტო ინდექსი <em>*</em> </label>
                            <input type="text" placeholder="..." formControlName="postCode">
                          </div>
                          <div class="form-name">
                            <label> ქვეყანა <em>*</em> </label>
                            <input type="text" formControlName="country" name="country">
                          </div>
                          <div class="form-name">
                            <label> რაიონი </label>
                            <input type="text" formControlName="state" name="state">
                          </div>
                          <div class="save-button">
                            <button type="submit">შენახვა</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="account-button">
            <div class="back-btn"> <a routerLink="/cart">ჩემი კალათის ნახვა</a> </div>
            <div class="home"> <a routerLink="/home"> მთავარი</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
