<!-- footer top area start -->
<div class="footer-top-area">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-4">
        <div class="footer-contact">
          <img src="assets/img/logo-white.png" alt="">
          <!--<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>-->
          <ul class="address">
            <li>
              <span class="fa fa-fax"></span>
              (800) 123 456 789
            </li>
            <li>
              <span class="fa fa-phone"></span>
              (800) 123 456 789
            </li>
            <li>
              <span class="fa fa-envelope-o"></span>
              info@kedi.ge
            </li>
          </ul>
        </div>
      </div>
      <!--<div class="col-md-3 hidden-sm">-->
        <!--<div class="footer-tweets">-->
          <!--<div class="footer-title">-->
            <!--<h3>Facebook უახლესი პოსტები</h3>-->
            <!--&lt;!&ndash;საინტერესო ველი&ndash;&gt;-->
          <!--</div>-->
          <!--<div class="twitter-feed">-->
            <!--<div class="twitter-article">-->
              <!--<div class="twitter-img">-->
                <!--<a href="#">-->
                  <!--<img src="assets/img/twitter/twitter-1.png" alt="">-->
                <!--</a>-->
              <!--</div>-->
              <!--<div class="twitter-text">-->
                <!--<p>Raboda Fashion #Magento #Theme comes up with pure white and grey, which great show your products. Check it: </p>-->
                <!--<a href="#">https://t.co/iu0OYBwti8</a>-->
                <!--<div class="twitter-time">-->
                  <!--<a href="#">16h</a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="twitter-article">-->
              <!--<div class="twitter-img">-->
                <!--<a href="#">-->
                  <!--<img src="assets/img/twitter/twitter-1.png" alt="">-->
                <!--</a>-->
              <!--</div>-->
              <!--<div class="twitter-text">-->
                <!--<p>Raboda Fashion #Magento #Theme comes up with pure white and grey, which great show your products. Check it: </p>-->
                <!--<a href="#">https://t.co/iu0OYBwti8</a>-->
                <!--<div class="twitter-time">-->
                  <!--<a href="#">16h</a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <div class="col-md-3 col-sm-4">
        <div class="footer-support">
          <div class="footer-title">
            <h3>ჩვენს შესახებ</h3>
          </div>
          <div class="footer-menu">
            <ul>
              <li><a routerLink="/page/about">ჩვენს შესახებ</a></li>
              <li><a routerLink="/page/contact">კონტაქტი</a></li>
              <li><a routerLink="/page/delivery">მიტანის სერვისი</a></li>
              <li><a routerLink="/page/careers">ვაკანსიები</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4">
        <div class="footer-info">
          <div class="footer-title">
            <h3>სერვისები</h3>
          </div>
          <div class="footer-menu">
            <ul>
              <li><a routerLink="/page/privacy-policy">წესები და პირობები</a></li>
              <li><a routerLink="/page/payment">გადახდის მეთოდები</a></li>
              <li><a routerLink="/page/confidential">კონფიდენციალობის პოლიტიკა</a></li>
              <li><a routerLink="/page/corporate">კორპორტიული კლიენტებისთვის</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- footer top area end -->
<!-- footer area start -->
<footer class="footer-area">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="footer-copyright">
          <p>Copyright &copy; 2019 <a href="http://idealab.ge"> iDealab</a>. ყველა უფლება დაცულია.</p>
          <p>დამზადებულია <a href="mailto://ottologger@gmail.com"> #marrottoDev</a> მიერ.</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="payment-icon">
          <img src="assets/img/payment.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <a href="#" id="scrollUp"><i class="fa fa fa-arrow-up"></i></a>
</footer>
<!-- footer area end -->
<!-- quickview product start -->
<div id="quickview-wrapper">
  <!-- Modal -->
  <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="modal-product">
            <div class="product-images">
              <div class="main-image images">
                <img alt="" src="assets/img/product/quick-view.jpg">
              </div>
            </div>

            <div class="product-info">
              <h1>Diam quis cursus</h1>
              <div class="price-box">
                <p class="price"><span class="special-price"><span class="amount">$132.00</span></span></p>
              </div>
              <a href="shop.html" class="see-all">See all features</a>
              <div class="quick-add-to-cart">
                <form method="post" class="cart">
                  <div class="numbers-row">
                    <input type="number" id="french-hens" value="3">
                  </div>
                  <button class="single_add_to_cart_button" type="submit">Add to cart</button>
                </form>
              </div>
              <div class="quick-desc">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.</p>
              </div>
              <!--<div class="share-post">-->
                <!--<div class="share-title">-->
                  <!--<h3>share this product</h3>-->
                <!--</div>-->
                <!--<div class="share-social">-->
                  <!--<ul>-->
                    <!--<li><a href="#"> <i class="fa fa-facebook"></i> </a></li>-->
                  <!--</ul>-->
                <!--</div>-->
              <!--</div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- quickview product start -->
