<div class="shopping-cart">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="location">
          <ul>
            <li><a href="index.html" title="go to homepage">Home<span>/</span></a>  </li>
            <li><strong>Register page</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="login-area ptb-120">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <div class="login">
          <div class="login-form-container">
            <div class="login-text">
              <h2>Register</h2>
              <span>Please Register using account detail bellow.</span>
            </div>
            <div class="login-form">
              <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <input type="text" formControlName="name" class="form-control" placeholder="Name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
                <input type="password" formControlName="password" class="form-control" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                <input type="email" formControlName="email" class="form-control" placeholder="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
                <div class="button-box">
                  <button type="submit" class="default-btn">Register</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
